* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif;
}

nav ul {
    list-style-type: none;
    display: none;
}

nav ul a {
    display: block;
    background: #0d1317;
    padding: 20px;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: red;
    transition: color 2s ease, background 2s ease, padding 2s ease;
}

nav ul a:hover {
    background: #474747;
    color: whitesmoke;
    padding-left: 30px;
}

.nav-container img {

    width: 75px;
    align-self: center;
    margin: 5px;
}



.nav-container {
    padding: 0 20px;
    background: #474747;
    display: flex;
    justify-content: space-between;

}

.bar {
    width: 30px;
    height: 3px;
    margin: 7px;
    background: #ad343e;
}

.btn {
    padding: 2px;
    display: inline-block;
    border: 2px solid #ad343e;
    align-self: center;
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url(../img/header-bcg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

nav {
    flex: 0 0 auto;
}

.banner {
    flex: 1 0 auto;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner img {
    max-width: 100%;
    flex-basis: 100px;
}


.banner h1 {
    font-size: 50px;
    width: 100%;
    text-transform: uppercase;
    color: #ad343e ;
}

.banner h3 {
    text-transform: capitalize;
    font-size: 30px;
    color: #0d1317;
}

.and {
    color: #f5f5f5;
}

.banner-icons {
    padding: 20px;
}

.banner-icons a {
    font-size: 30px;
    background: #474747;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 50%;
    color: #f5f5f5;
    transition: color 1s ease, transform 1s ease;

}

.banner-icons a:hover {
    color: #ad343e;
    transform: translateY(-10px);
}

nav {
    position: fixed;
    width: 100%;
    z-index: 10;
}


@media screen and (min-width:776px) {
    .nav-container {
        display: none;
    }

    nav ul {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        background: rgba(13, 19, 23, 0.8);
    }

    nav ul a {
        background: transparent;
    }

    nav ul a:hover {
        background: transparent;
        padding-left: 20px;
    }
    
}

/*#############services############*/
.services {
    min-height: 80vh;
    background: url(../img/services-bcg.jpg)center/cover fixed no-repeat;
    display: flex;
    align-items: center;
}

.service {
    color: #f5f5f5;
    display: flex;
    margin: 40px;
}

.service-icon {
    align-self: center;
    font-size: 60px;
    margin-right: 20px;
    padding: 20px;
    border: 3px solid #f5f5f5;
    border-radius: 50%;
}

.service-text h3 {
    text-transform: uppercase;
}

.service-text p {
    line-height: 1, 5;
    margin-top: 5px;
}

@media screen and (min-width:576px) {
    .services-center {
        width: 70%;
    }
}

@media screen and (min-width:776px) {
    .services-center {
        width: 50%;
    }
    
}

/*#############projects############*/

.projects {
    padding: 0 0 100px 0;
    min-height: 100vh;
    background: #f5f5f5;
}

.projects-title {
    padding: 50px 0;
}

.projects-title h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.title-underline {
    background: #ad343e;
    width: 100px;
    height: 4px;
    margin: 10px auto;
}

.projects-center {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.projects-img {
    flex: 1 1 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    overflow: hidden;

}



.projects img {
    height: 100%;
    width: 100%;
    transition: opacity 2s ease, transform 2s ease;
}

.projects img:hover {
    opacity: 0.3;
    cursor: pointer;
    transform: scale(1.5);
}

/*###about us#######*/
.about-us {
    padding: 100px 0;
    display: flex;
    background: url(../img/aboutus-bcg.jpeg)center/cover fixed no-repeat;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.about-us-center {

    margin: 25px;
    padding: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10%;
}

.about-us-center h2 {
    font-size: 40px;
    text-transform: capitalize;
    color: #ad343e;
}

.about-us-center .fa-car {
    font-size: 60px;
    color: #ad343e;
    margin: 20px 0;
}

.about-us-center p {
    line-height: 2;
}

.filter {
    min-height: 50vh;
    background: url(../img/filter-bcg.jpeg)center/cover fixed no-repeat;

}

/*########ABOUT###########*/
.contacts {
    min-height: 80vh;
    background: url(../img/aboutus-bcg.jpeg)center/cover fixed no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contacts-center {
    flex: 0 0 80%;
    padding: 40px 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

}

form {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
}

form input {
    margin: 10px 0;

}

form h2 {
    text-align: center;
    text-transform: uppercase;
    color: #ad343e;

}

form input,
form textarea {
    padding: 5px;
    border: 3px solid #ad343e;

}

input::placeholder,
textarea::placeholder {
    text-transform: uppercase;
    color: #0d1317;
}

.form-btn {
    margin: 20px;
    font-size: 20px;
    border-radius: 35px;
    padding: 5px;
    background: #ad343e;
    color: #f5f5f5;
    transition: color 1s ease-in-out, background 1s ease-in-out;
}

.form-btn:hover {
    color: #ad343e;
    background: #f5f5f5;
}

/*#########footer#######*/
footer {
    background: #0d1317;
    padding: 60px 0;
    text-align: center;
}

.footer-icons a {
    display: inline-block;
    font-size: 30px;
    margin: 0 10px 20px 10px;
    padding: 2px 5px;
    border-radius: 5px;
    background: #f5f5f5;
    color: #0d1317;
}

footer p {
    color: #f5f5f5;
    font-size: 20px;
}